Repository pboth1304/pb-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, admin-app, crawler, portfolio-page, search-engine, travelency, test

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

admin-app:
  - apps/admin-app/*
  - apps/admin-app-e2e/*
  - libs/admin-app/*

crawler:
  - apps/crawler/*
  - libs/crawler/*

portfolio-page:
  - apps/portfolio-page/*
  - apps/portfolio-page-api/*
  - apps/portfolio-page-e2e/*
  - libs/portfolio-page/*
  - libs/portfolio-page-api/*

search-engine:
  - apps/search-engine/*
  - apps/search-engine-api/*
  - apps/search-engine-e2e/*
  - libs/search-engine/*
  - libs/search-engine-api/*

travelency:
  - apps/travelency/*
  - apps/travelency-api/*
  - apps/travelency-e2e/*
  - libs/travelency/*
  - libs/travelency-api/*

# Add 'test' label to any change to *.spec.ts files
test:
  - ./**/*.spec.ts

feat(monorepo): updated the dependencies to nrwl nx 9
  angular.json
  apps/admin-app-e2e/cypress.json
  apps/admin-app-e2e/src/plugins/index.js
  apps/admin-app/jest.config.js
  apps/admin-app/src/main.ts
  apps/admin-app/tsconfig.app.json
  apps/portfolio-page-e2e/cypress.json
  apps/portfolio-page-e2e/src/plugins/index.js
  apps/portfolio-page/jest.config.js
  apps/portfolio-page/src/app/landing-page/landing-page.component.ts
  apps/portfolio-page/tsconfig.app.json
  apps/search-engine-e2e/cypress.json
  apps/search-engine-e2e/src/plugins/index.js
  apps/search-engine/jest.config.js
  apps/search-engine/tsconfig.app.json
  apps/travelency-api/src/app.ts
  apps/travelency-api/src/app/classes/Auth.class.ts
  apps/travelency-api/src/server.ts
  apps/travelency-e2e/cypress.json
  apps/travelency-e2e/src/plugins/index.js
  apps/travelency/jest.config.js
  apps/travelency/tsconfig.app.json
  jest.config.js
  libs/shared/angular-material/jest.config.js
  libs/shared/angular-material/src/lib/shared-angular-material.module.ts
  libs/shared/angular-material/tsconfig.lib.json
  libs/shared/models/tslint.json
  libs/shared/terminus/tslint.json
  libs/travelency/models/tslint.json
  nx.json
  package-lock.json
  package.json
  tslint.json
Labels: repo, admin-app, portfolio-page, search-engine, travelency

feat(portfolio-page): finished header section and added about section
  apps/portfolio-page/src/app/components/about/about.component.tsx
  apps/portfolio-page/src/app/components/about/about.styles.tsx
  apps/portfolio-page/src/app/components/header/header.component.tsx
  apps/portfolio-page/src/app/components/header/header.styles.tsx
  apps/portfolio-page/src/app/pages/landing-page/landing-page.component.tsx
  apps/portfolio-page/src/assets/img/hero.jpg
  apps/portfolio-page/src/index.html
Labels: none

feat(portfolio-page): added tech-stack section
  apps/portfolio-page/src/app/components/tech-stack/tech-stack.component.tsx
  apps/portfolio-page/src/app/components/tech-stack/tech-stack.styles.tsx
  apps/portfolio-page/src/app/pages/landing-page/landing-page.component.tsx
  apps/portfolio-page/src/assets/img/back-img-tech.jpg
Labels: none

feat(portfolio-page): finished tech-stack section
  .vscode/extensions.json
  apps/portfolio-page/src/app/components/tech-stack/tech-stack.component.tsx
  apps/portfolio-page/src/app/components/tech-stack/tech-stack.styles.tsx
  apps/portfolio-page/src/assets/img/logos/angular-logo.png
  apps/portfolio-page/src/assets/img/logos/javascript-logo.png
  apps/portfolio-page/src/assets/img/logos/nodejs-logo.png
  apps/portfolio-page/src/assets/img/logos/sass-logo.png
  apps/portfolio-page/src/assets/img/logos/typescript-logo.png
  package-lock.json
  package.json
Labels: repo

feat(portfolio-page): added recent-work section with project-cards
  apps/portfolio-page/src/app/components/button/button.component.tsx
  apps/portfolio-page/src/app/components/button/button.styles.tsx
  apps/portfolio-page/src/app/components/project-card/project-card.component.tsx
  apps/portfolio-page/src/app/components/project-card/project-card.styles.tsx
  apps/portfolio-page/src/app/components/recent-work/recent-work.component.tsx
  apps/portfolio-page/src/app/components/recent-work/recent-work.styles.tsx
  apps/portfolio-page/src/app/components/tech-stack/tech-stack.styles.tsx
  apps/portfolio-page/src/app/models/project.model.ts
  apps/portfolio-page/src/app/pages/landing-page/landing-page.component.tsx
  apps/portfolio-page/src/assets/img/card-img-1.jpg
Labels: none

feat(dev): updated dependencies
  apps/admin-app/src/app/app.module.ts
  package-lock.json
  package.json
Labels: repo
